@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    background-color: #cc9999;
}

/* Inicio estilos grid contenedor*/
.contenedor {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 150px 1fr 1fr 100px;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". header header ."
        ". content content ."
        ". content content ."
        ". footer footer .";
}

.content {
    grid-area: content;
    margin-top: 40px;
    background-color: #cc9999;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

/* Fin estilos grid contenedor*/




/* Inicio estilos h*/
h1 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
}

h2 {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
}

h3 {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
    background-color: #cc9999;
}

h4 {
    font-size: 0.95rem;
    font-family: 'Roboto', sans-serif;
    color: #000;
    letter-spacing: 2px;
}

h5 {
    font-size: 0.95rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: lighter;
    background-color: #cc9999;
}


a {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

@media screen and (min-width: 769px) and (max-width: 1068px) {
    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1068px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    a {
        font-size: 1.25rem;
    }
}

/* Fin estilos h*/

.marca {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #cc9999;
    text-decoration: none;
}

.marca img {
    width: 50px;
    height: 50px;
}

.marca-texto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-left: 2px;

}



/* Inicio estilos menu nav */

nav {
    margin-bottom: 20px;
    background-color: #cc9999;
    border-bottom: #ffffff solid 2px;

}

ul {
    list-style-type: none;
    background-color: #cc9999;
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}


/* Fin estilos menu nav*/


/* Inicio estilos content index*/
.banner {
    border: #ffffff;
    border-style: dotted;
    margin-top: 20px;
}

.banner img {
    width: 100%;
}

.articulo {
    margin: 0 auto;
    padding: 2%;
    width: 100%;
}

article p {
    border-color: black;
    border-style: inset;
    background-color: #ffffff;
    overflow: auto;
    font-style: normal;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-align: left;
    color: #000;
    padding: 5px;
}

.articulo-img {
    width: 100%;
}

/* Fin estilos content index*/


/* Inicio estilos contacto*/

.contacto {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}


.contacto p {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #000;
    width: 100%;
    height: 340px;
    padding: 3%;
    overflow: auto;
}

.mapa {
    width: 100%;
}

@media screen and (min-width: 769px) and (max-width: 1068px) {
    .contacto-text {
        padding: 5px;
        line-height: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 1068px) {

    .contacto {
        flex-wrap: nowrap;
    }

    .contacto-text {
        padding: 5px;
        line-height: 20px;
        width: 60%;
        margin-right: 5px;
    }

    .mapa {
        width: 100%;
        float: right;
    }
}

/* Inicio estilos contacto */

tr {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
    border-spacing: 5px;
    vertical-align: bottom;
}

td {
    border: #ffffff;
    border-style: dashed;
    padding: 10px;
}



/* Inicio estilos productos*/

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1%;
    background-color: #cc9999;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    size: 75%;
}

.tarjeta img {
    padding-bottom: 10px;
    width: 100%;
    margin: 5px;
    background-color: #cc9999;
}

.productos img {
    padding-bottom: 10px;
    width: 100%;
    margin: 5px;
}

/* Fin estilos productos*/



/* Inicio estilos formulario*/

.formulario {
    border-color: black;
    border-style: inset;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario-text {
    padding: 5px;
    line-height: 20px;
    width: 100%;
}

.formulario-compra {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-color: black;
    border-style: inset;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    line-height: 30px;
}

.formulario-campo {
    padding: 5px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    line-height: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

input[type=ccn] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;

}

label {
    display: block
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=button],

input[type=submit] {
    display: block;
    background-color: #cc9999;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=reset] {
    background-color: #cc9999;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1068px) {
    input[type=text] {
        width: 75%;
    }

    input[type=email] {
        width: 75%;
    }

    input[type=ccn] {
        width: 75%;
    }

    select {
        width: 75%;
    }
}

@media screen and (min-width: 1068px) {
    input[type=text] {
        width: 50%;
    }

    input[type=email] {
        width: 50%;
    }

    input[type=ccn] {
        width: 50%;
    }

    textarea {
        width: 80%;
    }

    select {
        width: 50%;
    }
}

/* Fin estilos formulario*/

/* Inicio estilos footer*/

.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: #ffffff solid 2px;
    border-bottom: #ffffff solid 2px;
    margin-top: 6px;
    padding-bottom: 2px;
}

.menu-footer {
    text-align-last: center;
    margin-top: 1%;
    color: #ffffff;
    word-spacing: 10px;
}


.social {
    width: 200px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #cc9999;

}

.social i {
    background-color: #cc9999;
}

.social>a {
    width: 25%;
    font-size: 2rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    background: #cc9999;
    margin: 10px;
    transition: 0.4s;
}

.social>a:hover {
    transform: translateY(-10px);
    color: var(--color);
}

/* Fin estilos footer*/


.tarjeta-animada {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.tarjeta-animada:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-box-shadow: 3px 3px 5px #000;
    -moz-box-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 5px #000;

}

.clear {
    clear: both;
}

p {
    line-height: 20px;
    letter-spacing: 20;
}