/* Inicio estilos menu nav */
nav {
    margin-bottom: 20px;
    background-color: #cc9999;
    border-bottom: #ffffff solid 2px; }
    nav ul {
      list-style-type: none;
      background-color: #cc9999;
      display: flex;
      flex-direction: row;
      color: #ffffff; }
    nav .nav-link {
      color: #ffffff; }
  
  /* Fin estilos menu nav*/