/* Inicio estilos productos*/
.productos {
    padding: 1%;
    background-color: #cc9999; }
  
  .productos img {
    padding-bottom: 10px;
    width: 100%;
    margin: 5px; }
  
  .tarjeta {
    display: flex;
    flex-direction: column;
    size: 75%; }
  
  .tarjeta img {
    padding-bottom: 10px;
    width: 100%;
    margin: 5px;
    background-color: #cc9999; }
  
  /* Fin estilos productos*/