@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import "../scss/marca";
@import "../scss/contacto";
@import "../scss/productos";
@import "../scss/footer";
@import "../scss/tarjetaanimada";
@import "../scss/texto";
@import "../scss/nav";
@import "../scss/grids";




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    background-color: #cc9999;
}




.clear {
    clear: both;
}

